.row{
  position: relative;
  width:60%;
  
  
   margin-top: 3%;
  /*padding: 5px;*/
  text-align: center;
  display: block;
  margin-right: 25%;
     /* -130px;
    margin-left: 95px; -50,25 */
}



.textbox{
  width:400%;
  padding: 5px;
  object-position: center;

}
.floatleft{
  float: left;
  /* background-color: greenyellow; */
  width: 100%;
}
.displayed-item{
  float: left;
  /*margin-right: 70%;*/
  font-weight: 700;
  /* background-color: red; */
  /*border-width: 50%;*/
 /* border: 1px solid black;*/
  width: 70%;
  font-family: Arial, Helvetica, sans-serif;
}

.box1
{
  /*border: 1px solid black;*/
  margin-right: 10%;
  color: black;
  /* background-color: rosybrown; */
  /*padding: 0.5em;*/
 float : left;
}

.glyphicon-pencil:hover{
  cursor: pointer;
  color: rgb(10, 101, 185);
  }
  .glyphicon-pencil{
    padding-right: 15px;
  }
  .glyphicon-trash:hover{
    cursor: pointer;
    color: rgb(10, 101, 185);
  
  }
  .glyphicon-trash{
    padding-right: 15px;
  }

  .glyphicon-shopping-cart:hover{
    cursor: pointer;
    color: rgb(10, 101, 185);
  
  }
input{
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.totalbox{ 
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  float: inline-end;
  
}





